

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 500px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.footerHeader {
    font-size: 15px;font-weight: 600;letter-spacing: 1px;color: #fff;
    line-height: 1.571428571428571em;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    margin-top:15px
}
.footerLink {
    color:#787878;
        font-size: 14px;
    line-height: 26px;
}
.footerPlink {
    margin-top: 10px;
}
.footerSocial {
    margin-top: 15px;
                margin-bottom:15px;
}
.footerLink:hover {
    color: #fff!important;
}
.footerSocialLink:hover  {
    color: #fff!important;
}
.footerSocialLink {
    margin-right: 15px;
}
.subscribe {
    margin-top: 15px;
}
.footerSep {
    height: 1px;
    background-color: #818181;
    width: 91px;
    height: 2px;
    position: relative;
    width: 110px;
    display: block;
    margin: 10px auto 20px auto;    background-color: #303030;
    height: 2px;
    position: relative;
    display: block;
    margin: 10px auto 20px auto;
}
.footerInput {
    height: 38px !important;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 0px !important;
    background: #262626;
    /* background-color: #262626; */
    border-radius: 4px;
    margin-bottom: 8px;
    color: #7e7e7e;
    border: none;
    font-size: 14px !important;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}