
@{
    ViewBag.Title = "ConfirmEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/><br/>


<div style="margin-top: 0px;" class="alert alert-success" role="alert">
    <h3 class="alert-heading" style="text-align: center">@ViewBag.mesaj</h3><br />
</div>