
@{
    ViewBag.Title = "Index";
}

<div style="margin-top: 0px;" class="alert alert-info" role="alert">
    <h3 class="alert-heading" style="text-align: center">Dear, @Session["UserName"] Wellcome!</h3><br /><br/>
    <h4 class="mb-0" style="text-align: center">
        Discover the most popular items available or browse our hottest new items.<br /><br /><a href="/Home/Index" class="btn btn-success"><i class="glyphicon glyphicon-shopping-cart"></i> Go Shopping!</a>
    </h4>


</div>
