
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Well done!</h4>
    <p>Aww yeah, you successfully upload your product!</p>
    <p class="mb-0">Make sure your product avaible on after the editors approvement.</p>
</div>

